<!DOCTYPE HTML>

<html>
	<head>
		<title>Hypothesis: Composition</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
		<header id="header">
			<a href="index.html" class="title">Transit in Beijing</a>
			<nav>
				<ul>
					<li><a href="{{ url_for('w209') }}">Home</a></li>
					<li><a href="{{ url_for('w209') }}#background">Background</a></li>
					<li><a href="{{ url_for('w209') }}#visualizations" class="active">Analysis & Hypotheses</a></li>
					<li><a href="{{ url_for('w209') }}#conclusions">Conclusions</a></li>
					<li><a href="{{ url_for('w209') }}#team">Team</a></li>
				</ul>
			</nav>
		</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Composition</h1>
							<h2><i>Hypothesis: The composition of transportation types notably changes based on the time of day, day of the week, and month of the year, with the majority of activity during the early morning, work week, and summer months.</i></h2>
							<p>While time impacts travel activity in both quantity and duration as soon in Hypothesis 1, composition of these travel trends can also provide critical insights. For example, is there more walking during the summer months and/or during daylight hours? With Beijing being one of the most congested places in the world, looking at how transportation changes over these time intervals can provide information that can support decision-making for city planners (e.g., when is the most optimal time to do construction on a sidewalk vs. a road vs. the subway system).</p>
							<p>These visualizations show how the composition of activity based on analysis of each GPS recording changes for various time intervals of analysis. To show relativity and absolute quantity, each visualization can be displayed in absolute numbers and percentage of the overall activity recordings for that time segment. To update the visualizations, click on the different options to change both the radial and line charts.</p>
							<h4><i>Using these visualizations, answer the following:</i></h4>
							<ol>
								<li><i>What insights can we gain about car usage throughout the workday compared to other types of transportation?</i></li>
								<li><i>How do the proportion of bike riders change throughout the year?</i></li>
							</ol>

							<span class="image fit">
								<div class='tableauPlaceholder' id='viz1722464449623' style='position: relative'>
									<noscript>
										<a href='#'>
											<img alt='Hypothesis3 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ra&#47;radial_17202668587860&#47;Hypothesis3&#47;1_rss.png' style='border: none' />
										</a>
									</noscript>
									<object class='tableauViz'  style='display:none;'>
										<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
										<param name='embed_code_version' value='3' /> 
										<param name='site_root' value='' />
										<param name='name' value='radial_17202668587860&#47;Hypothesis3' />
										<param name='tabs' value='no' />
										<param name='toolbar' value='yes' />
										<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ra&#47;radial_17202668587860&#47;Hypothesis3&#47;1.png' /> 
										<param name='animate_transition' value='yes' />
										<param name='display_static_image' value='yes' />
										<param name='display_spinner' value='yes' />
										<param name='display_overlay' value='yes' />
										<param name='display_count' value='yes' />
										<param name='language' value='en-US' />
									</object>
								</div>                
								<script type='text/javascript'>                    
									var divElement = document.getElementById('viz1722464449623');                    
									var vizElement = divElement.getElementsByTagName('object')[0];                    
									if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1400px';vizElement.style.height='827px';} 
									else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1400px';vizElement.style.height='827px';} 
									else { vizElement.style.width='100%';vizElement.style.height='877px';}                     
									var scriptElement = document.createElement('script');                    
									scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
									vizElement.parentNode.insertBefore(scriptElement, vizElement);                 
								</script>
							</span>							
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>