<!DOCTYPE HTML>

<html>
	<head>
		<title>Hypothesis: Temporal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
		<header id="header">
			<a href="index.html" class="title">Transit in Beijing</a>
			<nav>
				<ul>
					<li><a href="{{ url_for('w209') }}">Home</a></li>
					<li><a href="{{ url_for('w209') }}#background">Background</a></li>
					<li><a href="{{ url_for('w209') }}#visualizations" class="active">Analysis & Hypotheses</a></li>
					<li><a href="{{ url_for('w209') }}#conclusions">Conclusions</a></li>
					<li><a href="{{ url_for('w209') }}#team">Team</a></li>
				</ul>
			</nav>
		</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Temporal</h1>
							<h2><i>Hypothesis: Transportation activities in both duration and quantity change notably based on time, with the majority of activity concentrated in the summer months and with the longest commutes ending during end-of-day hours.</i></h2>
							<p>Experiential analysis suggests that most transportation changes based off the time interval for evaluation. For example, Monday through Friday, it may be generally accepted that there is a greater number of travelers in the morning and in the late afternoon due to commutes to and from work. Similarly, the duration of that travel in time may change based on time as well with greater commutes ending mid or late day for travelers that have begun their journey in the morning.</p>
							<p>These visualizations show how the number of travelers and duration in minutes of travel changes for each interval of analysis. To update the visualizations, click on the different options for the charts and select the evaluation approach for the line chart to compare.</p>
							<h4><i>Using these visualizations, answer the following:</i></h4>
							<ol>
								<li><i>How does the average duration of travel change over the day of the week, and the month of the year?</i></li>
								<li><i>Why do you believe the overall number of travelers decreases in June and July before hitting a high in September and October?</i></li>
							</ol>
							<span class="image fit"><div class='tableauPlaceholder' id='viz1722465334208' style='position: relative'>
								<noscript>
									<a href='#'>
										<img alt='Hypothesis1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;hy&#47;hypothesis1-temporal&#47;Hypothesis1&#47;1_rss.png' style='border: none' />
									</a>
								</noscript>
								<object class='tableauViz'  style='display:none;'>
									<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
									<param name='embed_code_version' value='3' />
									<param name='site_root' value='' />
									<param name='name' value='hypothesis1-temporal&#47;Hypothesis1' />
									<param name='tabs' value='no' />
									<param name='toolbar' value='yes' />
									<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;hy&#47;hypothesis1-temporal&#47;Hypothesis1&#47;1.png' />
									<param name='animate_transition' value='yes' />
									<param name='display_static_image' value='yes' />
									<param name='display_spinner' value='yes' />
									<param name='display_overlay' value='yes' />
									<param name='display_count' value='yes' />
									<param name='language' value='en-US' />
								</object>
							</div>
							<script type='text/javascript'> 
								var divElement = document.getElementById('viz1722465334208');                    
								var vizElement = divElement.getElementsByTagName('object')[0];                    
								if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1366px';vizElement.style.height='795px';} 
								else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1366px';vizElement.style.height='795px';} 
								else { vizElement.style.width='100%';vizElement.style.height='1027px';}                     
								var scriptElement = document.createElement('script');                    
								scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
								vizElement.parentNode.insertBefore(scriptElement, vizElement);   
							</script>
						</span>
						</div>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>